.DS_Store
test.jsonl
test.ipynb
test.py
projects/stance-detection
analysis/*
tmp-images/*
tmp/*
projects-binary/raw
projects-binary/alternative
projects-binary/download.ipynb
.env
add_images_to_json.py

projects-binary-round-two/data
projects-binary-round-two/data/
projects-binary-round-two/output
projects-binary-round-two/output/
projects-binary-round-two/main.py
projects-binary-round-two/rater.py
projects-binary-round-two/create-upload.py

projects-audio/output
projects-audio/output/
projects-audio/raw
projects-audio/raw/